/* .active{
    color:yellow;

}
.inactive{
    color:grey;
}
body{ 
    background-color: black;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} */

.imagebox img{
    width:300px;
    height:auto;
}